
<html>
  <head>
    <title>EggzRule</title>
  </head>
  <body>
    <span id="initialized">{{ initialized }}</span>
    <span id="network-name">
      {{network_owner}}
    </span>
    <span id="network-host">
      {{network_url}}
    </span>
		<style>
			#init{
				background-color:green
			}
		</style>
    <!-- initialize will be optional -->
    <div class="button" id="init" >Initialize Blockchain</div>
    <div class="button not"><a href="/view_text">view everyone's messages</a></div>
      <br>
      <br>
    <div class="button not" id="mine">Mine a new block!</div>
<br><br>
    <div class="button not"><a href="/transaction_form"">write a message</a></div>

    <script>
        var initialize = document.getElementById("initialized").innerText;
        if (initialize == "False") {
            for (let el of document.querySelectorAll('.not')){
                el.style.visibility = 'hidden';
            }
        }
        else {
            document.getElementById("init").style.visibility = 'hidden'
        }
        function init(){
          if (window.location.href.substr(8,9) == "eggteract"){
            fetch("/initialize", {
              method: 'POST',
              credentials: 'same-origin',
              headers:{
                  'Accept': 'application/json',
                  'X-Requested-With': 'XMLHttpRequest',
              },
              body: JSON.stringify({'url':window.location.href})
            })
            .then(response => {
              location.reload();
            }) 
          }
        }
        function network(){
          if (window.location.href.substr(8,9) == "eggteract"){
            fetch("/change_network", {
              method: 'POST',
              credentials: 'same-origin',
              headers:{
                  'Accept': 'application/json',
                  'X-Requested-With': 'XMLHttpRequest',
              },
              body: JSON.stringify({'owner':document.getElementById("owner").value,
                                   'host_url':document.getElementById("host_url").value})
            })
            .then(response => {
              location.reload();
            }) 
          }
        }
      var mined=false
      function mine(){
          if ((window.location.href.substr(8,9) == "eggteract")&&(mined==false)){
            mined=true
            document.getElementById("mine").innerHTML='(mining new block...)'
            fetch("/mine", {
              method: 'POST',
              credentials: 'same-origin',
            }).then((response)=>document.getElementById("mine").innerHTML='Block has been mined')
          }
        }
        document.getElementById("mine").addEventListener("click", mine, true);
        document.getElementById("init").addEventListener("click", init, true);
        document.getElementById("submit").addEventListener("click", network, true);
    </script>
  </body>
</html>