<html>
  <head>
    <title>
      EggzRule
    </title>
  </head>
  <body>
    <h1>
      Transact here
    </h1>
    <input type="text" id="text" placeholder='the text you want to send'>
    <button id="submit"> Send message! </button>
    <script>
      function transaction(){
          if (window.location.href.substr(8,9) == "eggteract"){
            fetch("/make_transaction", {
              method: 'POST',
              credentials: 'same-origin',
              headers:{
                  'Accept': 'application/json',
                  'X-Requested-With': 'XMLHttpRequest',
              },
              body: JSON.stringify({'text':document.getElementById("text").value})
            })
            .then(response => {
              window.location.replace("./view_text");
            }) 
          }
        }
      document.getElementById("submit").addEventListener("click", transaction, true);
    </script>
  </body>
</html>